<%- include('../partials/_navbar.ejs') %>

<style>
  body {
    background-image: url("/background/1.jpg");
    background-size: cover;
  }
  h1 {
    font-family: "Courier New", Courier, monospace sans-serif;
    font-size: 50px;
  }
  .sign label {
    font-size: 20px;
    display: block;
    margin-top: 20px;
  }

  .submit button {
    background-color: #00ce11;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
  }
  input {
    border-radius: 10px;
    height: 30px;
  }
  .top-right-logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
    height: auto;
    z-index: 999;
  }
</style>
<img src="/logo/logo.png" class="top-right-logo" />
<h1>Create a new AddIt Account!</h1>

<form action="/auth/sign-up" method="POST">
  <div class="sign">
    <!-- FULL NAME -->
    <label for="fullName">Full Name:</label>
    <input type="text" name="fullName" id="fullName" required />
    <br />

    <!-- EMAIL -->
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required />
    <br />

    <!-- PHONE -->
    <label for="phone">Phone:</label>
    <input type="text" name="phone" id="phone" required />
    <br />

    <!-- USERNAME -->
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <br />

    <!-- PASSWORD -->
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <br />

    <!-- CONFIRM PASSWORD -->
    <label for="confirmPassword">Confirm Password:</label>
    <input
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      required
    />
  </div>

  <br />

  <div class="submit">
    <button type="submit">Sign up</button>
  </div>
</form>
