<nav>
  <% if (user) { %>
  <p>Welcome to the app, <%= user.username %></p>

  <a href="/advertisements">View All Advertisements</a>
  <a href="/advertisements/new">Create New Advertisement</a>
  <a href="/bids/mine">My Bids</a>

  <!-- Dawood profile link -->
  <a href="/profile">My Profile</a>

  <!-- Husain's c sign-out route -->
  <a href="/auth/sign-out">Sign out</a>

  <% } else { %>
  <p>Welcome to Addit!</p>

  <!-- Husain's t auth routes -->
  <a href="/auth/sign-up">Sign up</a>
  <a href="/auth/sign-in">Sign in</a>
  <% } %>
</nav>
