<%- include('../partials/_navbar.ejs') %>
<style>
  body {
    background-image: url("/background/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
  }
</style>
<h1>All Categories</h1>

<ul>
  <% categories.forEach(category => { %>
  <li>
    <strong><%= category.type %></strong>
  </li>
  <% }) %>
</ul>

<br />
<a href="/categories/new">Create New Category</a>
