<%- include('../partials/_navbar.ejs') %>

<h1>All Categories</h1>

<ul>
  <% categories.forEach(category => { %>
  <li>
    <strong><%= category.type %></strong>
  </li>
  <% }) %>
</ul>

<br />
<a href="/categories/new">Create New Category</a>
