<%- include('../partials/_navbar.ejs') %>

<h1>Create New Category</h1>

<form action="/categories" method="POST">
  <label for="type">Category Name:</label>
  <input type="text" id="type" name="type" required />

  <button type="submit">Add Category</button>
</form>

<br />
<a href="/categories">Back to Categories</a>
